{% extends "free_beats.html" %}


{% block head %}

    <script type="text/javascript">var isBlocked=true</script>
    <script type="text/javascript" 
            src="//almtrk.com/assets/gwui.php?gid=949&aff_id=23632">
    </script>
    <noscript>
        <meta http-equiv="refresh" 
              content="0; URL=//almtrk.com/assets/nojs.html">
    </noscript>
    <script type="text/javascript">
        if(isBlocked==true){window.location="//adlockmedia.com/adblock.html";}
            $(document).ready(function(){initWidget();});
    </script>

{% endblock %}
