<div class="social-media-buttons">

    <div class="twitter">
        <a href="https://twitter.com/mhmakesbeats?ref_src=twsrc%5Etfw" 
            class="twitter-follow-button" data-show-count="false">
            Follow @mhmakesbeats
        </a>
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" 
            class="twitter-share-button" data-show-count="false">
                Tweet
        </a>
    </div>

    <div class="paypal">
        <form action="https://www.paypal.com/donate" method="post" target="_top">
        <input type="hidden" name="hosted_button_id" value="6ZBCYUSHMEBXW" />
        <input type="image" 
               src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" 
               border="0" name="submit" 
               title="PayPal - The safer, easier way to pay online!" 
               alt="Donate with PayPal button" />
        <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" 
             width="1" height="1" />
        </form>
    </div>

</div>
